.navbar-area {
	background: aquamarine;
	padding: 30px 0;
}
.navbar-content ul {
	display: flex;
	text-align: center;
	justify-content: center;
    list-style: none;
}
.navbar-content a {
	margin-right: 20px;
	color: black;
	text-decoration: none;
    font-size: 20px;
}
