.navbar-area {
	background: #0b114a;
	padding: 30px 0;
}
.navbar-content ul {
	display: flex;
	text-align: center;
	justify-content: center;
    list-style: none;
}
.navbar-content a {
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
    font-size: 20px;
}
.login-button {
	display: flex;
}
@media all and (max-width: 575px){
	.navbar-content a {
		margin-right: 5px;
	}
	.image-content {
		padding-top: 40px;
	}
	.home-content h1 {
		font-size: 40px;
	}
	.services-area {
		padding: 30px 0;
	}
	.service-item {
		margin-bottom: 30px;
	}
}